.multistorex {
	display: flex;
	background: #F1F5F9;
}

#multistorex-navigation {
	flex: 1;
}

.multistorex .menu {
	text-align: center;
    background-color: #1E40AF;
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 30px;
}

.multistorex .menu li a {
	color: #fff;
	text-decoration: none;
	margin-bottom: 39px;
	display: inline-block;
}


.multistorex-content {
	flex: 6;
	margin-left: 20px;
	margin-right: 20px;
}

.multistorex-title {
	color: #1E293B;
	font-size: 18px;
}

.multistorex-content-header {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

.multistorex-card {
	background: #fff;
	flex: 1;
	padding-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}

.multistorex-main-content tbody tr {
	background: #fff;
	margin-bottom: 10px;
}

.multistorex-label {
	display: block;
}

.multistorex-form-control {
	border-radius: 6px !important;
	border: 1px solid #E2E8F0 !important;
	background: #FFF !important;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05) !important;
	width: 100%;
	height: 40px;
}


.multistorex-btn {
	border: none;
    color: #fff;
    padding: 8px 15px;
    border-radius: 6px;
	background-color: #1E40AF;
	box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.04);
}


.multistorex-form-group {
	display: flex;
	justify-content: space-between;
	gap: 15px;
	margin-bottom: 30px;
}

.multistorex-form-group > div {
	flex: 1;
}

.multistorex-table {
	width: 100%;
    margin-top: 30px;
    text-align: left;
}
